---
import "../styles/uiStyles.css";
import projects from "../data/projects.json";
import PortfolioCard from "./PortfolioCard.astro";
---

<section id="portfolio">
  <div class="container">
    <h2 class="section-heading">PORTFOLIO</h2>
    <div class="projects">
      {projects.map((project) => <PortfolioCard {...project} />)}
    </div>
  </div>
</section>

<style>
  section {
    background-color: var(--clr-neutral-700);
    padding-block: 6rem;
  }

  h2 {
    text-align: center;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    justify-items: center;
    gap: 2rem;
  }
</style>
